<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head :: frag-header"></th:block>
  <title>프로필 | devroutine : 개발자 챌린지 서비스</title>
</head>
<body>
<ul th:each="profile : ${profile}">
  <li th:text="|닉네임 : ${profile.nickName}|"></li>
  <img id="profileImg" th:src="${profile.profileImageUrl}" alt="첨부이미지" th:if="${profile.profileImageUrl != null}" />
  <li th:text="|팔로워 수 : ${profile.followerCount}|"></li>
  <li th:text="|팔로잉 수 : ${profile.followingCount}|"></li>
  <div class="table-responsive">
    <table class="table table-hover table-center">
      <thead class="thead-dark">
      <th><a class="sortable">참가중인 챌린지</a></th>
      </thead>
      <tbody>
      <tr th:each="challenge : ${profile.challenges}">
        <td><a th:href="@{/api/v1/challenges/{id}(id=${challenge.id})}" th:text="|${challenge.message}|"></a></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-hover table-center">
      <thead class="thead-dark">
      <th><a class="sortable">개설한 챌린지</a></th>
      </thead>
      <tbody>
      <tr th:each="challenge : ${profile.authorizedChallenges}">
        <td><a th:href="@{/api/v1/challenges/{id}(id=${challenge.id})}" th:text="${challenge.message}"></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</ul>
</body>
</html>
