<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-expand-md fixed-top" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">devRoutine</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="/challenges">챌린지 리스트</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/certification" sec:authorize="isAuthenticated()">인증</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profile" sec:authorize="isAuthenticated()">마이페이지</a>
            </li>
        </ul>

        <a class="d-flex btn btn-success active" href="/oauth2/authorization/github"
           role="button" sec:authorize="isAnonymous()">로그인</a>

        <div style="margin-right: 10px" sec:authorize="isAuthenticated()">
            <a href="/alarms">
                <img id="alarm" src="/assets/alarm.png"  width="24" height="24"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="d-flex btn btn-success active" href="/logout"
               role="button">로그아웃</a>
        </div>
    </div>
</nav>
<script type="text/javascript" th:src="@{/js/invite.js}"></script>
</html>