<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">devroutine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

            <li class="nav-item">
                <a class="nav-link" href="/api/v1/challenges">챌린지 리스트</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/certification">인증</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profile">마이페이지</a>
            </li>
        </ul>

        <a class="d-flex">
            <button type="submit" th:href="@{/oauth2/authorization/github}">로그인</button>
        </a>
    </div>
</nav>
</html>