<!DOCTYPE html>
 <html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <th:block th:replace="fragments/head :: frag-header"></th:block>
    <title>인증 | devroutine : 개발자 챌린지 서비스</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/nav :: menu"></nav>

<div class="d-flex justify-content-center">
    <div th:class="cert-card" class="card text-center col-lg-6 col-sm-12 mt-6" style="width: 18rem;">
        <img th:src="${certification.getImageUrl()}" class="card-img-top img-fluid" alt="깃허브 인증">
        <div class="card-body">
            <p class="card-text" th:text="${certification.getDescription()}"></p>
        </div>
    </div>
</div>

<!-- 팝업 될 곳 -->
<div class="modal">
    <button>&times;</button>
    <div class="modalBox">
        <img src="" alt="">
        <p></p>
    </div>
</div>

<section>
    <div class="d-flex justify-content-center mt3-l">
        <img id="likeImg" src="/assets/like_empty.png" width="30" height="30"/>
        <div id="like-cnt" th:value="${likeCount}" th:text="${likeCount}"></div>
    </div>

    <!--  댓글  -->
    <br>
    <div class="d-flex">
        <h3 class="comment text-left justify-start">댓글</h3>
        <a th:href="@{/certification}">
            <button type="button" class="return btn btn-light" style="float: right">돌아가기</button>
        </a>
    </div>
    <hr>

    <div sec:authorize="isAuthenticated()">
        <form method="post">
            <div class="input-group" style="width:auto">
                <label class="form-label mt-4" hidden>댓글 작성</label>
                <input type="text" class="form-control" id="commentContent" name="commentContent"
                       placeholder="댓글을 입력해주세요">
                <input type="text" hidden th:value="${certificationId}" id="cert-id">
                <button type="button" id="comment-btn" class="btn btn-light">작성</button>
                <div>
                </div>
                <br>
            </div>
        </form>
    </div>

    <section>
        <div id="commentTable">
            <div th:each="comment:${comments}">
                <form method="POST">
                    <input type="hidden" id="commentNum" name="CommentNum" th:value="${comment.id}">
                    <div>
                        <input type="button" class="btn p-0 btn-md" name="commentID"/>
                    </div>
                    <ul>
                        <li id="writer" th:text="|${comment.userName}(작성자)|"
                            th:if="${#authentication.name} == ${comment.oauthId}"></li>

                        <li id="username" th:text="${comment.userName}"
                            th:if="${#authentication.name} != ${comment.oauthId}"></li>

                        <li id="createdAt" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></li>
                        <li id="comment" th:text="${comment.comment}"></li>
                    </ul>
                    <div class="text-right">
                        <span><button type="submit" name="submit" value="update" class="bg-dark-pink"
                                      th:if="${#authentication.name} == ${comment.oauthId}">수정</button></span>
                        <span><button type="submit" name="submit" value="delete" class="bg-dark-pink"
                                      th:if="${#authentication.name} == ${comment.oauthId}">삭제</button></span>
                    </div>
                </form>
                <hr />
            </div>
        </div>
    </section>
</section>
</body>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</html>
